#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
}

.inputSection {
  display: flex;
  flex-direction: column;
}

.inputHeader {
  font-weight: bold;
}

.inputs {
  display: flex;
  flex-direction: column;
}
