body {
  max-width: 1280px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.menuBtnContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  aspect-ratio: 1;
  z-index: 999;
}

.menuBtnContainer:hover {
  scale: 1.1;
}

.menuBtn {
  fill: red;
}

.flip {
  transform-origin: center;
  transform: rotate(180deg);
}

.inputForm {
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px rgb(65, 65, 65);
  position: absolute;
  padding-top: 75px;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputHeader {
  font-weight: bold;
  border-bottom: 2px solid black;
  width: 100%;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
}

.collapse {
  transform: translateX(-1000px);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5ce40e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.addBtn>button {
  background-color: rgb(161, 201, 177);
}

.removeBtn>button {
  background-color: rgb(229, 147, 147);
}

.submitReset {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.submitReset>button {
  background-color: #646cff;
}

/* Resume Page Styles */

.outputsPage {
  background-color: azure;
  padding: 48px;
  height: 100vh;
  width: 100vw;
}

.outputsContainer {
  background-color: beige;
  padding: 24px;
  box-shadow: 0px 0px 10px rgb(190, 190, 190);
  max-width: 100%;
  max-height: 100%;
  /* Scale the page to fit 8.5 x 11 */
  aspect-ratio: .77;

  display: flex;
  justify-content: space-between;
}

.leftOutputs {
  background-color: rgb(179, 179, 252);
  width: 30%;
  height: 100%;
  padding: 12px;
}

.rightOutputs {
  background-color: rgb(207, 207, 207);
  width: 70%;
  height: 100%;
  padding: 12px;
}

/* Input Styles */

input {
  border: none;
  padding: 8px;
}

input:focus {
  background-color: lightblue;
  border: 3px solid red;
}

textarea {
  height: 60px;
  width: 100%;
  border: none;
  resize: none;
}


/* Output Styles */
.leftOutputs {

}

.experienceOutput > .outputContainer,
.educationOutput > .outputContainer {
  display: flex;
  flex-direction: column;
}

.outputHeader {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.nameOutput>.outputContainer>.outputHeader {
  border-bottom: none;
}

.outputName {
  font-size: small;
}

.outputData {
  font-size: large;
}

.contactOutput {
  background-color: rgb(240, 233, 233);
}

.experienceOutput {
  background-color: blanchedalmond;
}

.educationOutput {
  background-color: rgb(201, 195, 189);
}

.name {
  display: flex;
}

.firstname, .lastname {
  font-size: x-large;
}

.firstname {
  font-weight: lighter;
}

