body {
  max-width: 1280px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* .app {
  display: flex;
} */

.menuBtnContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  aspect-ratio: 1;
  z-index: 999;
}

.menuBtnContainer:hover {
  scale: 1.1;
}

.menuBtn {
  fill: red;
}

.flip {
  transform-origin: center;
  transform: rotate(180deg);
}

.inputForm {
  position: absolute;
  padding-top: 75px;
  padding-left: 24px;
  padding-right: 24px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  gap: 20px;
  background-color: antiquewhite;
  transition: all .5s;
}

.inputSection {
  display: flex;
  flex-direction: column;
}

.inputHeader {
  font-weight: bold;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.collapse {
  transform: translateX(-1000px);
}
